<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>DRIW Application Dev</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap-grid.min.css}"/>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">DRIW</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Products <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>


<div class="container" style="margin-top:30px">

    <form action="#" method="POST" th:action="@{/calculator}" th:object="${productListWrapper}" >
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th></th>
                <th>Product Code</th>
                <th>Product Name</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product, stat : ${productListWrapper.list}">
                <td th:text="${stat.index + 1}"  th:value="${stat.index + 1}">

                </td>
                <input class="form-control" type="hidden" id="productId" th:name="|list[${stat.index}].id|"
                       th:value="${product.id}" />
                <input class="form-control" type="hidden" id="pricePercentage" th:name="|list[${stat.index}].pricePercentage|"
                       th:value="${product.pricePercentage}" />
                <td>
                    <input class="form-control" type="text" readonly id="productCode" th:name="|list[${stat.index}].code|"
                           th:value="${product.code}" />
                </td>
                <td>
                <!--<td th:text="${product.name}" th:name="|list[${stat.index}].name|"
                    th:value="${product.name}">-->
                    <input class="form-control" type="text" readonly id="productName" th:name="|list[${stat.index}].name|"
                           th:value="${product.name}" />
                </td>

                <td><input class="form-control" type="number" id="quantity" th:name="|list[${stat.index}].quantity|"
                           th:value="${product.quantity}" /></td>
            </tr>
            </tbody>
        </table>
        <input class="btn btn-outline-dark  mr-1 float-right" type="reset" value="Reset">
        <button type="submit" name="submit" value="value" class="btn btn-outline-success  mr-1 float-right">Calculate</button>
    </form>

    <div>
        <h2>Total Cost : <span class="label label-info" th:text="${totalCost}"></span></h2>
    </div>


</div>

</body>
</html>