<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>DRIW</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">DRIW</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/calculator">Calculator <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>
            <span th:text="'Welcome to ' + ${message}"></span>
        </h1>
        <!--<h2>
            <span th:text="'Hello, ' + ${product.name}"></span>
        </h2>-->
    </div>
    <div>
        <a th:each="product, iStat : ${productList}" class="btn btn-light" th:href="@{/(productId=${product.id})}"
           th:text="${product.name}">
        </a>
    </div>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product, iStat : ${productPage.content}"
            th:style="${iStat.odd}? 'font-weight: bold;'"
            th:alt-title="${iStat.even}? 'even' : 'odd'">
            <td th:text="${product.code}" />
            <td th:text="${product.name}" />
            <td th:text="${product.quantity}" />
            <td th:text="${product.price}" />
        </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
    <ul th:if="${productPage.totalPages > 0}" class="pagination">
        <li th:each="pageNumber : ${pageNumbers}">
            <a class="btn btn-light" th:href="@{/(size=${productPage.size}, page=${pageNumber}, productId=${selectedProductId})}"
           th:text="${pageNumber}"
           > - </a>
            <!--th:class="${pageNumber==productPage.number + 1} ? active"-->
        </li>
    </ul>


</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>